*.exe
*.wdb
*.log
Procesador/fuseRelaunch.cmd
*.cmd
Procesador/fuseRelaunch.cmd
*.cmd
*.projectmgr
*.xreport
*.dbg
*.dll
*.dat
Procesador/isim/Adder_isim_beh.exe.sim/tmp_save/_1
*.c
*.obj
*.didat
Procesador/isim/Adder_TB_isim_beh.exe.sim/tmp_save/_1
Procesador/isim/InstructionMemory_TB_isim_beh.exe.sim/tmp_save/_1
*.html
Procesador/isim/MUX_TB_isim_beh.exe.sim/tmp_save/_1
Procesador/isim/pn_info
Procesador/isim/Procesador2_TB_isim_beh.exe.sim/tmp_save/_1
Procesador/isim/Procesador_TB_isim_beh.exe.sim/tmp_save/_1
Procesador/isim/ProgramCounter_TB_isim_beh.exe.sim/tmp_save/_1
Procesador/isim/RegisterFile_TB_isim_beh.exe.sim/tmp_save/_1
Procesador/isim/SEU_TB_isim_beh.exe.sim/tmp_save/_1
*.vdb
Procesador/pepExtractor.prj
*.prj
*.gise
*.xise
*.html
*.ini
Procesador/_xmsgs/pn_parser.xmsgs
Procesador/isim/ALU_TB_isim_beh.exe.sim/tmp_save/_1
*.xmsgs
*.lso
*.syr
*.xst
ProcesadorCuatro/webtalk_pn.xml
*.cmd_log
ProcesadorCuatro/Procesador4_xst.xrpt
*.vdbl
ProcesadorCuatro/xst/work/work.vdbx
ProcesadorCuatro/isim/pn_info
ProcesadorCuatro/isim/Procesador4_TB_isim_beh.exe.sim/tmp_save/_1